@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

    section#telefone { /*Comando para centralizar a div*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: url(../imagens/frame-iphone.png) no-repeat;
        height: 627px;
        width: 311px;
    }

iframe#tela { /*Encaixando o a tela dentro do celular*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais { /*Alinhando os botões a direita*/
    text-align: right;
}

section#redes-sociais img { /*Configurações dos botões*/
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%; /*deixar os botoes redondos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    box-sizing: border-box; /*comando para a borda fazer parte do objeto, assim quando o hover é ativo o botão não se mex   e*/
}

section#redes-sociais img:hover { /*Config de quando colocar o mouse em cima*/
    border: 2px solid white;
    transform: translate(-1px, -1px);
    transition: transform 0.2s, border 1s; /*Comando de transição*/
}