@charset "UTF-8";

/*
Paleta de cores
verde: #49a09d
lilás: #5f2c82
*/

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #3e1e53;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 60vw;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: #5f2c82 url(../images/pexels-emrecan-2110951.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

section#login > div#formulario > form{
    padding-top: 10px;
}

div#formulario h1{
    text-align: center;
}

div#formulario > p {
    font-size: 0.9em;
}

div.campo > label {
    display: none;
}

div.campo > span{
    color: white;
    background-color: ;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #d1e3fa;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

form > div.campo{
    background-color: #744394;
    border: 1px solid #744394;
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #73b0ff;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    background-color: #1175f8;
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding-top: 5px;
    margin-top: 7px;
    height: 35px;
    border: 1px solid #73b0ff;
    border-radius: 5px;
    text-decoration: none;
    color: #569fff;
}

form > a.botao:hover{
    color: white;
    background-color: #1175f8;
}

form > a.botao > i{
    font-size: 0.8em;
}